<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Inventry Management</title>
</head>
<style>
    body{
        background-image:url({{url_for ('static', filename = 'inventory9.jpg')}});
        background-repeat:no-repeat;
        background-size: cover;
        background-color: transparent;
    }

      h1 {
          color: red;
          text-align: center;
          text-shadow: 2px 2px 2px yellow , 0 0 30px green;
          }
      p {
          color: white;
          margin: 35px 75px;
          font-size:30px;

          }
    </style>
<body>
 <div>
     <h1><u>About :</u></h1>
     <p>
         Inventory management is a systematic approach to sourcing, storing, and selling inventory—both raw materials
         (components) and finished goods (products). In business terms, inventory management means the right stock,
         at the right levels, in the right place, at the right time, and at the right cost as well as price.
     </p>
     <p>
         Poor inventory management leads to a loss in sales which in turn paints an inaccurate picture of lower demand
         for certain items, making future order predictions based on that past data inherently inaccurate.
         Instead, smart retailers use real-time data to move inventory where it’s needed before it’s too late.<br>
     </p>
     <p>
         The main objective of this project is to make the inventry management efficient.
     </p>
     <p>
         The main advantages of efficient inventry management are <br>
         1. Avoidance of stock-outs and excess stock.<br>
         2. Improved business negotiations.<br>
         3. The ability to make more profitable business decisions.<br>
         4. Reduced risk of overselling.
     </p><br><br>
     <p>
         <u>Project Team:</u><br>
         1. Sumantha.NTS<br>
         2. Pushpadant.G<br>
         3. Chandana<br>
         4. Mohan Kumar<br>
         5. Kadambari
     </p>
 </div>
</body>
</html>